section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  background: gray;
  margin: 10px 0px 0px 0px;
  background-origin: padding-box;
  
}

h1 {

	text-align: center;
	text-decoration: none;
	text-shadow: 30px;
	padding-bottom: 5px;
	font-size: 60px;
	font-family: fantasy;
	font-weight: 5;

	

}

.thesunpic {
	


}

body {

	background: black;
}

.submit{

    text-align: center;

}


}

h2 {
   padding-bottom: 20px;
   font-family: fantasy;

}

header {
    background: green;
    margin-top: 0;

    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    
    

}

.thesunpic {
     
     background-blend-mode: overlay;

}

div {

	text-align: center;
	background: gray;
	border-radius: 100%;
	border-style: inset;
	border: groove 1em green;
	border: 50%;
	margin: 400px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	

}